body{
    background: #27362A ;
    font-family: Poppins, Helvetica, sans-serif;
}

.oscurecer {
    background-color: #27362A;
    filter:brightness(0.4);
  }



.carousel .slide{
    margin: 0;
    padding: 0;
}

hr{
    background: aliceblue;
}

.green{
    background: #08AF3F;
}

ul{
    list-style: none;
    text-decoration: none;
}

.card{
    border-radius: 43px 43px 43px 43px;
    -moz-border-radius: 43px 43px 43px 43px;
    -webkit-border-radius: 43px 43px 43px 43px;
    border: 0px solid #000000;
}