.hero-section {
   background-image:url(../img/logo/Btnmercado.png); 
   background-size: 100% 100%;
   border: none;
   cursor: pointer;
   padding: 70px 70px;
   border-radius:35px;
}


.ML-head{
   background-image:url(../img/logo/Mercado.png); 
   display:block;
   background-repeat: no-repeat;
 
   background-size: 100% 100%;
   top:-5px;
   height:65px;
   width:96px;
   position:relative;
   left:12px;
   /*background-position:center;*/
}


.boton-ML{
   background:#616161;
   /*color: #fff159;*/
   color: #020202;
   font-weight: bold;
   display:inline-block;
   font-size:1.25em;
   margin:20px; 
   padding:10px 0px; 
   text-align:right; 
   width:200px;
   height:65px;
   text-decoration:none;
   
  /* box-shadow:0px 3px 0px #373c3c;   
   -webkit-text-stroke: -1px black;
   filter:blur(2px);*/
   
  }
  .boton-ML span{
   margin-right:20px;
   text-align:center; 
  
  }
  
  /*colores */
  .boton-ML.yellow{
   background:#ffea04;
   box-shadow:0px 3px 0px #020202;
   /*color:#2d3277;*/ /*color Azul */
   position:relative;
   left:75px;
  
  }
   /*tamaño */
   .boton-ML.short{
      width:120px;
     
      
  }
   .boton-ML.medium{
     width:350px;
  }
  
  /*Efects */
  .boton-ML.radius{
   border-radius:20px;
  }
  
  .boton-ML:hover{
   box-shadow:0px 0px 0px;
   padding-top:7px;
   /*transform: translateY(-3px) scale(1.05);
   filter:none;*/
   
  }

  /*Boton footer*/

/*Esta es la imagen*/
  .ML-footer{
   background-image:url(../img/logo/Mercado.png); 
   display:block;
   background-repeat: no-repeat;
 
   background-size: 100% 100%;
   top:5px;
   height:150px;
   width:250px;
   position:relative;
   left:-5px;
   /*background-position:center;*/
}


    /*Boton del footer*/
    .botonML-FT{
      background:#b41717;
      /*color: #fff159;*/
      color: #020202;
      font-weight: bold;
      display:inline-block;
      font-size:1.25em;
      margin:20px; 
      padding:10px 0px; 
      width:250px;
      height:170px;
     }
    
      /*colores */
      .botonML-FT.yellow{
      background:#ffea04;
      box-shadow:0px 3px 0px #020202;
      /*color:#2d3277;*/ /*color Azul */
      position:relative;
      left:5px;
     
     }
     
     /*Efects */
     .botonML-FT.radius{
      border-radius:20px;
     }
     
     .botonML-FT:hover{
      box-shadow:0px 0px 0px;
      padding-top:7px;
      /*transform: translateY(-3px) scale(1.05);
      filter:none;*/
      
     }
/*Boton para Modal  */

.botonModal{
   background:#b41717;
   /*color: #424242;*/
   color: #020202;
   font-weight: bold;
   display:inline-block;
   font-size:.50em;
   margin:20px; 
   padding:10px 0px; 
   width:150px;
   height:100px;
  }

  .botonModal.gray{
   background:#424242;
   box-shadow:0px 3px 0px #020202;
   /*color:#2d3277;*/ /*color Azul */
   position:relative;
   left:5px;
  
  }

  